
<%- include("../layouts/header.ejs")-%>
<div class="container">
    <div class="card " style="height: 400px; width: 400px;">
        <div class="d-flex justify-content-center">
            
            <h4>Edit  User</h4>
        </div>
       <form action="/admin/update-user" method="POST">
        <div class="form">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="name" name="name" id="emailInput" value="<%=userData.name%>">
        </div>
        
        <div class="form">
            <label class="d-flex justify-content-between align-items-center"><span>Email</label>
            <input type="email" class="form-control" placeholder="email" name="email" id="passwordInput" value="<%=userData.email%>">
        </div>
        <div class="form">
            <label class="d-flex justify-content-between align-items-center"><span>Number</label>
            <input type="text" class="form-control" placeholder="email" name="pno" id="passwordInput" value="<%=userData.pno%>">
        </div>
        <div id="emailError"></div>
        <div class="login-button">
<input type="hidden" name="id" value="<%=userData._id%>">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="shadow btn btn-primary font-monospace" type="submit">Update</button>
            <a href="/admin/dashboard"><button data-bs-toggle="modal" type="button" data-bs-target="#exampleModal" class="shadow btn btn-primary font-monospace">Go back</button></a>
        </div>
    </form>
        
    </div>
  
</div>
<%-include("../layouts/footer.ejs")-%>